<div class="navbar navbar-inverse navbar-fixed-top md-header" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".js-navbar-collapse">
                    <span class="sr-only">导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="system-logo" href="#/home"><img class="pdl20 pdr55" src="src/images/logo.png" /> </a>
                <!-- <span class="title">美创主数据管理平台</span>  -->
            </div>
            <div class="collapse navbar-collapse js-navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                   <!--  <li ng-if="!userId || userId == ''"><a href="#/login?redirectUrl={{pathStr}}" class="icon-btn fs12"><span class="hr-light"><i class="icon ico-header-login"></i>登录</span></a></li> -->
                    <li><span class="fs14"><i class="icon ico-header-user"></i>欢迎你，<span class="user-name">{{name}}（{{username}}）</span></span></li>
                </ul>
    			<ul class="nav navbar-nav navbar-right">
                    <!-- <li><a role="button" class="icon-btn mgr22 fs12"><span class="hr-light"><i class="icon ico-header-message"></i>消息<span class="badge">8</span></span></a></li> -->
                    <li><a class="icon-btn mgr22" role="button" ng-click="clickChangePw()" class="fs12"><span class="hr-light"><i class="icon ico-header-password"></i>修改密码</span></a></li>
                    <li><a class="icon-btn mgr20" role="button" ng-click="clickLogout()" class="fs12"><span class="hr-light"><i class="icon ico-header-logout"></i>退出</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- {{pageRightList}} -->

<!-- 修改密码弹框 s -->
<div id="J_changePwModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-small">
        <div class="modal-content md-modal-content" ng-init="initModal()">
            <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal"  aria-hidden="true">×</button>
                <h6>修改密码</h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal" novalidate>
                            <div class="form-group mgb20">
                                <label class="control-label col-lg-6 modal-col-30"></span>用户名</label>
                                <div class="col-lg-6 modal-col-60">
                                    <input class="form-control" type="text" ng-model="theUser.username" readonly>
                                </div>
                            </div>
                            <div class="form-group clear-mrgb" ng-class="{'has-error': validate.password.oldPwd.dirty && validate.password.oldPwd.invalid,'has-success':validate.password.oldPwd.dirty && validate.password.oldPwd.valid}" >
                                <label class="control-label col-lg-6 modal-col-30">原密码<span class="sign-must">*</span></label>
                                <div class="col-lg-6 modal-col-60">
                                    <input class="form-control" type="password" ng-model="theUser.password" placeholder="请输入当前密码" ng-change="changeStatus('oldPwd')">
                                    <div class="validate-container">
                                        <span ng-if="validate.password.oldPwd.dirty && validate.password.oldPwd.error.required">
                                          原密码不能为空
                                        </span>
                                        <span ng-if="validate.password.oldPwd.dirty && validate.password.oldPwd.error.format">
                                          密码为8-20位数字和字母组合
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-1 modal-col-5">
                                    <img ng-if="validate.password.oldPwd.dirty && validate.password.oldPwd.invalid" ng-src="./src/images/validate-fail.png">
                                    <img ng-if="validate.password.oldPwd.dirty && validate.password.oldPwd.valid" ng-src="./src/images/validate-right.png">
                                </div>
                            </div>
                            <div class="form-group clear-mrgb" ng-class="{'has-error': validate.password.newPwd.dirty && validate.password.newPwd.invalid,'has-success':validate.password.newPwd.dirty && validate.password.newPwd.valid}">
                                <label class="control-label col-lg-6 modal-col-30">新密码<span class="sign-must">*</span></label>
                                <div class="col-lg-6 modal-col-60">
                                    <input class="form-control" type="password" ng-model="theUser.newPassword" placeholder="请输入新密码" ng-change="changeStatus('newPwd')">
                                    <div class="validate-container">
                                        <span ng-if="validate.password.newPwd.dirty && validate.password.newPwd.error.required">
                                          新密码不能为空
                                        </span>
                                        <span ng-if="validate.password.newPwd.dirty && validate.password.newPwd.error.format">
                                          密码为8-20位数字和字母组合
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-1 modal-col-5">
                                    <img ng-if="validate.password.newPwd.dirty && validate.password.newPwd.invalid" ng-src="./src/images/validate-fail.png">
                                    <img ng-if="validate.password.newPwd.dirty && validate.password.newPwd.valid" ng-src="./src/images/validate-right.png">
                                </div>
                            </div>
                            <div class="form-group clear-mrgb" ng-class="{'has-error': validate.password.confirmPwd.dirty && validate.password.confirmPwd.invalid,'has-success':validate.password.confirmPwd.dirty && validate.password.confirmPwd.valid}">
                                <label class="control-label col-lg-6 modal-col-30">确认新密码<span class="sign-must">*</span></label>
                                <div class="col-lg-6 modal-col-60">
                                    <input class="form-control" type="password" ng-model="theUser.confirmPassword" placeholder="请再次输入新密码" ng-change="changeStatus('confirmPwd')">
                                     <div class="validate-container">
                                        <span ng-if="validate.password.confirmPwd.dirty && validate.password.confirmPwd.error.required">
                                          请再次输入新密码
                                        </span>
                                        <span ng-if="validate.password.confirmPwd.dirty && validate.password.confirmPwd.error.format">
                                          两次新密码输入不一致
                                        </span>
                                    </div>
                                </div>
                                 <div class="col-lg-1 modal-col-5">
                                    <img ng-if="validate.password.confirmPwd.dirty && validate.password.confirmPwd.invalid" ng-src="./src/images/validate-fail.png">
                                    <img ng-if="validate.password.confirmPwd.dirty && validate.password.confirmPwd.valid" ng-src="./src/images/validate-right.png">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger text-center" role="alert" ng-show="errorMsg!=''">
                {{errorMsg}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-orange btn-modal" ng-click="confirmChange($event)">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改密码弹框 e -->

<!-- 提交信息弹框 -->
<div id="J_sysSubMsg" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-msg" role="document">
        <div class="modal-content md-modal-content" ng-include="'views/mod/submitMsgModal.html'" ng-cloak  ng-init="initModal()"></div>
    </div>
</div>

<err-div msg="sysError"></err-div>

