<div ng-init="init()">
<div class="header login">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#/">
                <img class="system-logo" src="src/images/logo-icon.png" alt="LOGO">
                <div class="system-name">
                    <div class="cn-name">美创某某管理系统</div>
                    <div class="en-name">MouMou management system</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="log-main container-fluid login" style="height:{{mainHeight}}px; padding-top:{{(mainHeight-530)/2}}px;margin-top: -2px;">
    <div class="row">
        <div class="col-lg-6 col-md-3 hidden-sm hidden-xs ad-wrap">
        </div>
        <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12 login-wrap">
            <div class="login-box">
                <div class="box-header">用户登录</div>
                <form class="form-horizontal login-form">
                    <div class="form-group">
                    	<label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3" for="username">用户名称</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pdl0">
                            <input id="username" type="text" class="form-control" autocomplete="off" ng-model="userName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3" for="code">用户密码</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pdl0">
                            <input id="code" type="password" class="form-control" autocomplete="off" ng-model="code">
                        </div>
                    </div>
					<div class="form-group mgb15">
                        <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-3" for="checkcode">验证码</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pdl0">
                            <input id="checkcode" type="text" class="form-control" autocomplete="off" ng-model="checkcode">
							<img id="J_checkCode" class="code-img" ng-click="createCode()" src="{{codeValue}}" alt="验证码"/>
                        </div>
                    </div>
                    <div class="form-group mgb15">
                        <!-- 提示信息 s -->
						<div class="msg-wrap">
							<span class="msg error" ng-show="loginError">提示：{{errorMsg}}</span>
						</div>
                        <!-- 提示信息 e -->
                    </div>
                    <div class="form-group text-center">
                        <button id="J_tSubmit"  class="btn btn-default btn-lg btn-login" ng-click="clickLogin($event)">登&nbsp;&nbsp;录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer login">
    <div class="container-fluid">
        <div class="row">
            <p class="text-center">版权所有  Copyright @ 2005-2017 杭州美创科技有限公司  All right reserved.</p>
        </div>
    </div>
</div>
</div>
