<div class="page-title">在线用户审计</div>
<div class="panel panel-default mh-28">
    <div class="panel-heading">
        <h3 class="panel-title">在线用户列表</h3>
    </div>
    <div class="panel-body">
        <!-- 查询结果 b -->

        <!-- 查询结果 e -->
        <!-- 数据表格 b -->
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover table-custom">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>用户名</th>
                        <th>所属角色</th>
                        <th>所属单位</th>
                        <th>登录时间</th>
                        <th>终端地址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-loading text-center" ng-show="ListShowFlag!=''">
                        <td colspan="6" ng-if="ListShowFlag.indexOf('loading')==-1">{{ListShowFlag}}</td>
                        <td colspan="6" ng-if="ListShowFlag.indexOf('loading')>-1"><div class="loading"></div></td>
                    </tr>
                    <tr ng-repeat="item in auditList" ng-show="ListShowFlag==''">
                        <td>{{$index+1}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.role.name}}</td>
                        <td>
                            <span ng-if="item.businessGroup != null && item.businessGroup != ''">{{item.businessGroup.cnName || item.businessGroup.name}}</span>
                            <span ng-if="item.businessGroup == null || item.businessGroup == ''">--</span>
                        </td>
                        <td>
                            <span ng-if="item.loginTime != null && item.loginTime != ''">{{item.loginTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            <span ng-if="item.loginTime == null || item.loginTime == ''">--</span>
                        </td>
                        <td>
                            <span ng-if="item.loginIP != null && item.loginIP != ''">{{item.loginIP}}</span>
                            <span ng-if="item.loginIP == null || item.loginIP == ''">--</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 数据表格 e -->
        <!-- 分页 start -->
        <div class="clearfix j-navPager navPager-rb" ng-include="'views/mod/pagination.html'"></div>
        <!-- 分页 e -->
    </div>
</div>
