<div class="page-title">审核管理</div>
<div class="panel panel-default mh-28">
    <div class="panel-heading">
        <h3 class="panel-title">审核事件列表</h3>
    </div>
    <div class="panel-body">
        <!-- 查询结果 b -->

        <!-- 查询结果 e -->
        <!-- 数据表格 b -->
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover table-custom">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>类型</th>
                        <th>详情</th>
                        <th>状态</th>
                        <th>审核时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-loading text-center" ng-show="ListShowFlag!=''">
                        <td colspan="6" ng-if="ListShowFlag.indexOf('loading')==-1">{{ListShowFlag}}</td>
                        <td colspan="6" ng-if="ListShowFlag.indexOf('loading')>-1"><div class="loading"></div></td>
                    </tr>
                    <tr ng-repeat="item in list" ng-show="ListShowFlag==''">
                        <td>
                            {{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td>
                            {{item.type}}
                        </td>
                        <td>
                            {{item.memo}}
                            <p class="as-span" ng-if="item.jsonData.businessGroup.cnName">单位：{{item.jsonData.businessGroup.cnName}}</p>
                            <p class="as-span" ng-if="item.jsonData.role.name">角色：{{item.jsonData.role.name}}</p>
                        </td>
                        <td>
                            {{statusText[item.status]}}
                        </td>
                        <td ng-if="!item.auditTime">
                            --
                        </td>
                        <td ng-if="item.auditTime">
                            {{item.auditTime | date:'yyyy-MM-dd HH:mm:ss'}}
                        </td>
                        <td data-id={{$index}} ng-if="item.status=='wait'">
                            <a class="btn btn-link j-btnPass">通过</a>
                            <a class="btn btn-link j-btnRefuse">拒绝</a>
                        </td>
                        <td ng-if="item.status!='wait'"> -- </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 数据表格 e -->
        <!-- 分页 start -->
        <div class="clearfix j-navPager" ng-include="'views/mod/pagination.html'"></div>
        <!-- 分页 e -->
    </div>
</div>
