<div class="modal-header">
    <button type="button" class="close" ng-click="clickOprCancel()">×</button>
    <h6>{{modalTitle}}</h6>
</div>
<div class="modal-body">
    <p class="text-center" ng-if="oprType=='pass'">确定通过这一条审核记录么？</p>
    <p class="text-center" ng-if="oprType=='refuse'">确定不通过这一条审核记录么？</p>
</div>
<div class="modal-footer">
    <div class="alert alert-danger text-left pl50" role="alert" ng-show="errorMsg!='' && successMsg==''">
        {{errorMsg}}
    </div>
    <div class="alert alert-success text-center" role="alert" ng-show="successMsg!='' && errorMsg==''">
        {{successMsg}}
    </div>
    <button class="btn btn-primary btn-md" ng-click="clickOprConfirm($event)">确定</button>
    <button class="btn btn-primary btn-md" ng-click="clickOprCancel()" >取消</button>
</div>