<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
    <h6>{{modalTitle}}</h6>
</div>
<div class="modal-body">
    <p class="text-center">确定导出统计结果到本地?</p>
</div>
<div class="modal-footer">
    <div class="alert alert-danger text-center" role="alert" ng-show="errorMsg!='' && successMsg==''">
        {{errorMsg}}
    </div>
    <div class="alert alert-success text-center" role="alert" ng-show="successMsg!='' && errorMsg==''">
        {{successMsg}}
    </div>
    <button class="btn btn-warning btn-md" aria-hidden="true" data-dismiss="modal" ng-hide="cancelButton==='关闭'">取消</button>
    <button class="btn btn-warning btn-md" ng-click="getExportExcel($event)">{{cancelButton}}</button>
</div>
