<div class="page-title">操作日志审计</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">查询条件</h3>
    </div>
    <div class="panel-body" style="position:relative;">
        <!-- 查询表单 b -->
        <form class="form-horizontal" method="post">
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" for="J_AuditRoleId">所属角色：</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" id="J_AuditRoleId" ng-model="searchPara.roleId" ng-options="item.id as item.name for item in roleList" ng-change="getBusinessGroupOptions(searchPara.roleId)">
                            <option value="">----请选择----</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" for="J_auditGroupId">所属单位：</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" id="J_auditGroupId" ng-model="searchPara.groupId" ng-options="businessGroup.id as businessGroup.bgname for businessGroup in businessGroupOptions">
                            <option value="">----请选择----</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" for="J_auditTypeId">事件类型：</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" id="J_auditTypeId" ng-model="searchPara.auditTypeId" ng-options="item.id as item.cn_name for item in auditTypeList">
                            <option value="">----请选择----</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" for="J_sortTypeId">排序：</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" id="J_sortTypeId" ng-model="searchPara.sortTypeId" ng-options="item.id as item.cn_name for item in sortTypeList">
                            <option value="">----请选择----</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 btn-search">
                <a role="button" class="btn btn-primary btn-md" ng-click="query( true )">查询</a>
            </div>
        </form>
        <!-- 查询表单 e -->
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">操作日志列表</h3>
    </div>
    <div class="panel-body">
        <!-- 查询结果 b -->
        <div class="clearfix col-lg-6 search-result" ng-include="'views/mod/searchResult.html'"></div>
        <div class="col-lg-6 text-right">
            <a role="button" class="btn btn-warning btn-md" ng-hide="pager.total==0" ng-click="getBackup()">执行备份</a>
        </div>
        <!-- 查询结果 e -->
        <!-- 数据表格 b -->
        <div class="col-lg-12 table-responsive">
            <table class="table table-condensed table-striped table-hover table-custom">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>操作用户</th>
                        <th>所属单位</th>
                        <th>所属角色</th>
                        <th>操作类型</th>
                        <th>操作内容</th>
                        <th>操作结果</th>
                        <th>操作时间</th>
                        <th>终端地址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-loading text-center" ng-show="ListShowFlag!=''">
                        <td colspan="9" ng-if="ListShowFlag.indexOf('loading')==-1">{{ListShowFlag}}</td>
                        <td colspan="9" ng-if="ListShowFlag.indexOf('loading')>-1"><div class="loading"></div></td>
                    </tr>
                    <tr ng-repeat="item in auditList" ng-show="ListShowFlag==''">
                        <td>{{$index+1}}</td>
                        <td>{{item.userName}}</td>
                        <td>
                            <span ng-if="item.businessGroupName != null && item.businessGroupName != ''">{{item.businessGroupName}}</span>
                            <span ng-if="item.businessGroupName == null || item.businessGroupName == ''">--</span>
                        </td>
                        <td>
                            <span ng-if="item.roleName != null && item.roleName != ''">{{item.roleName}}</span>
                            <span ng-if="item.roleName == null || item.roleName == ''">--</span>
                        </td>
                        <td>{{item.eventType}}</td>
                        <td>{{item.content}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <span ng-if="item.createTime != null && item.createTime != ''">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            <span ng-if="item.createTime == null || item.createTime == ''">--</span>
                        </td>
                        <td>
                            <span ng-if="item.host != null && item.host != ''">{{item.host}}</span>
                            <span ng-if="item.host == null || item.host == ''">--</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 数据表格 e -->
        <!-- 分页 start -->
        <div class="col-lg-12 clearfix j-navPager" ng-include="'views/mod/pagination.html'"></div>
        <!-- 分页 e -->
    </div>
</div>
