<div class="page-title">系统告警审计</div>
<div class="panel panel-default mh-28">
    <div class="panel-heading">
        <h3 class="panel-title">系统告警列表</h3>
    </div>
    <div class="panel-body">
        <!-- 查询结果 b -->

        <!-- 查询结果 e -->
        <!-- 数据表格 b -->
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover table-custom">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>单位</th>
                        <th>角色</th>
                        <th>告警类型</th>
                        <th>告警级别</th>
                        <th>告警内容</th>
                        <th>时间</th>
                        <th>访问IP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-loading text-center" ng-show="ListShowFlag!=''">
                        <td colspan="8" ng-if="ListShowFlag.indexOf('loading')==-1">{{ListShowFlag}}</td>
                        <td colspan="8" ng-if="ListShowFlag.indexOf('loading')>-1"><div class="loading"></div></td>
                    </tr>
                    <tr ng-repeat="item in systemAlarmList" ng-show="ListShowFlag==''">
                        <td>{{item.userName}}</td>
                        <td ng-if="item.businessGroupName">
                            {{item.businessGroupName}}
                        </td>
                        <td ng-if="!item.businessGroupName">
                            --
                        </td>
                        <td>{{item.roleName}}</td>
                        <td>{{item.type}}</td>
                        <td>{{levelText[item.level]}}</td>
                        <td>{{item.content}}</td>
                        <td>{{item.createTime  | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td ng-if="item.host">{{item.host}}</td>
                        <td ng-if="!item.host"> -- </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 数据表格 e -->
        <!-- 分页 start -->
        <div class="clearfix j-navPager navPager-rb" ng-include="'views/mod/pagination.html'"></div>
        <!-- 分页 e -->
    </div>
</div>
