<div class="page-title">用户管理</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">用户搜索</h3>
    </div>
    <div class="panel-body" style="position:relative;">
        <!-- 查询表单 b -->
        <form class="form-horizontal" method="post">
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" for="J_userName">用户名称：</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" autocomplete="off" class="form-control" id="J_userName" ng-model="queryUser.userName">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" for="J_roleName">角色名称：</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" id="J_roleName" ng-model="queryUser.roleId" ng-options="item.id as item.name for item in roleList" ng-change="getBusinessGroupOptions(queryUser.roleId)">
                            <option value="">----请选择角色----</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" for="J_groupName">所属单位：</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" id="J_groupName" ng-model="queryUser.groupId" ng-options="businessGroup.id as businessGroup.bgname for businessGroup in businessGroupOptions">
                            <option value="">----请选择单位----</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label" for="J_userStatus">用户状态：</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" id="J_userStatus" ng-model="queryUser.userStatus" ng-options = "so.id as so.value for so in statusOptions">
                            <option value="">----请选择状态----</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 btn-search">
                <a role="button" class="btn btn-primary btn-md" ng-click="query( true )">查询</a>
            </div>
        </form>
        <!-- 查询表单 e -->
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">用户详情列表</h3>
    </div>
    <div class="panel-body">
        <!--查询结果 b-->
        <div class="clearfix col-lg-6 search-result" ng-include="'views/mod/searchResult.html'"></div>
        <!--查询结果 e-->
        <!-- 操作按钮 b -->
        <form class="col-lg-6 form-btn text-right" method="post">
            <a role="button" class="btn btn-success btn-md" ng-class="{'btn-custom-disabled':selected.indexOf(1)>-1}" ng-disabled="selected.indexOf(1)>-1" ng-click="clickResetPwd($event)">重置密码</a>
            <a role="button" class="btn btn-info btn-md" ng-click="clickAdd()">添加</a>
            <a role="button" class="btn btn-warning btn-md" ng-click="clickEdit()">修改</a>
            <a role="button" class="btn btn-danger btn-md" ng-class="{'btn-custom-disabled':selected.indexOf(1)>-1||selected.indexOf(2)>-1||selected.indexOf(3)>-1}" ng-disabled="selected.indexOf(1)>-1||selected.indexOf(2)>-1||selected.indexOf(3)>-1" ng-click="clickDelete($event)">注销</a>
        </form>
        <!-- 操作按钮 e -->

        <!-- 数据表格 b -->
        <div class="col-lg-12 table-responsive">
            <table class="table table-condensed table-striped table-hover table-custom">
                <thead>
                    <tr>
                        <th data-id="0"><input id="J_selectAll" type="checkbox" ng-checked="isSelected(0)" ng-click="updateSelection($event,0,userInfoList)" value="checkbox" /><label class="custom-checkbox" for="J_selectAll"></label></th>
                        <th>用户名</th>
                        <th>所属单位</th>
                        <th>角色</th>
                        <th>描述</th>
                        <th>用户状态</th>
                        <th>创建时间</th>
                        <th>手机号码</th>
                        <th>电子邮箱</th>
                        <th>邮件通知</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-loading text-center" ng-show="userShowFlag!=''">
                        <td colspan="10" ng-if="userShowFlag.indexOf('loading')==-1">{{userShowFlag}}</td>
                        <td colspan="10" ng-if="userShowFlag.indexOf('loading')>-1"><div class="loading"></div></td>
                    </tr>
                    <tr ng-class="{'is-checked': isSelected(item.id) }" ng-repeat="item in userInfoList" ng-show="userShowFlag==''">
                        <td data-id="{{item.id}}" ng-if="(item.status!=-1 && item.auditFlag==1) || item.roleId<0"><input type="checkbox" value="checkbox" ng-checked="isSelected(item.id)" ng-click="updateSelection($event,item.id,userInfoList)" id="checkboxOneInput{{item.id}}" ng-disabled="item.auditFlag==0 || item.status==-1" /><label class="custom-checkbox" for="checkboxOneInput{{item.id}}" ng-click="changeTitle($event,item.auditFlag)"></label></td>

                        <td data-id="{{item.id}}" ng-if="item.status==-1 || item.auditFlag==0"><input type="checkbox" disabled="disabled"></td>

                        <td>{{item.userName}}</td>
                        <td>{{item.businessGroup.cnName || item.businessGroup.name || '--'}}</td>
                        <td>{{item.role.name}}</td>
                        <td>{{item.describe || '--'}}</td>
                        <td ng-if="item.status==-1">注销</td>
                        <td ng-if="item.status==0 && item.auditFlag==1">锁定</td>
                        <td ng-if="item.status==1 && item.auditFlag==1">正常</td>
                        <td ng-if="item.auditFlag==0">审核中</td>
                        <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.emailAddress}}</td>
                        <td>{{item.isSend?'是':'否'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 数据表格 e -->
        <!-- 分页 b -->
        <div ng-hide="userInfoList.length==0" class="clearfix col-lg-12 j-navPager" ng-include="'views/mod/pagination.html'"></div>
        <!-- 分页 e -->
    </div>
</div>
