<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h6 id="J_viewManageLabel">视图权限{{ modalInfo.modalTitle }}</h6>
</div>
<div class="modal-body md-modal-body">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-3 modal-col-15">视图名称<span class="sign-must">*</span></label>
                    <div class="col-lg-8 modal-col-80">
                        <!--<select class="form-control" ng-model="viewModalForm.name" ng-options="item.name for item in viewOptions">
                            <option value="">请选择&#45;&#45;</option>
                        </select>-->
                        <input class="form-control" type="text" ng-model="viewModalForm.name" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3 modal-col-15">对应用户</label>
                    <div class="col-lg-8 modal-col-80">
                        <div class="col-lg-6 modal-col-50 pdl0 pdr10">
                            <div class='back-ser form-control'>用户列表</div>
                            <div class="form-control serv-select modal-select " ng-model="viewModalForm.selectedView" multiple="true">
                                <ul class="list-group" ng-if="noSelected">
                                    <li class="list-item checkbox text-center">
                                      <label title="暂无可选用户">
                                        暂无可选用户
                                      </label>
                                    </li>
                                </ul>
                                <ul class="list-group" ng-if="!noSelected">
                                    <li class="list-item checkbox" ng-hide="userList.length == 0">
                                      <label>
                                        <input type="checkbox" name="selection" ng-checked="selected.indexOf(0) > -1" ng-click="updateSelected($event,0,userList,'select')" />全选/全不选
                                      </label>
                                    </li>
                                    <li class="list-item checkbox" ng-repeat="u in userList">
                                      <label title="{{u.username}}">
                                        <input type="checkbox" name="selection" ng-checked="selected.indexOf(u.id) > -1" ng-click="updateSelected($event,u.id,userList,'select')" />{{u.username}}
                                      </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 modal-col-50 pdl10 pdr0">
                            <div class='back-ser form-control'>已选用户</div>
                            <div class="form-control serv-select modal-select" ng-model="viewModalForm.selectedView" multiple="true">
                                <ul class="list-group" ng-if="selected.length==0">
                                    <li class="list-item checkbox text-center">
                                      <label title="暂无已选用户">
                                        暂无已选用户
                                      </label>
                                    </li>
                                </ul>
                                <ul class="list-group" ng-if="selected.length!=0">
                                    <li class="list-item checkbox">
                                      <label>
                                        <input type="checkbox" name="selected" ng-checked="false" ng-click="updateSelected($event,-1,userList,'delAll')" />全选
                                      </label>
                                    </li>
                                    <li class="list-item checkbox" ng-repeat="u in userList" ng-show="selected.indexOf(u.id) > -1">
                                      <label title="{{u.username}}">
                                        <input type="checkbox" name="selected" ng-checked="selected.indexOf(u.id) == -1" ng-click="updateSelected($event,u.id,userList,'delete')" />{{u.username}}
                                      </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="alert alert-danger text-center" role="alert" ng-show="errorMsg!=''">
            {{errorMsg}}
    </div>
    <button class="btn btn-orange btn-inline" data-text="保存" ng-click="clickUserOk($event)">保存</button>
    <button class="btn btn-gray btn-inline" data-text="保存并继续新增" ng-hide="actionType == 'edit'" ng-click="clickUserOk($event,true)">保存并继续新增</button>

</div>
