.btn{
	padding: 5px 18px;
}
/* .btn:hover,
.btn:focus{
    color: #fff;  
} */
.btn-sm{
	padding: 3px 10px;
}
.btn-warning{
	background-color: #f86f4b;
}
.btn-orange,
.btn-gray{
    width: 200px;
    padding: 6px 18px;
    color: #fff;
}
.btn-orange{
    border-color: #eea236;
    background-color: #f86f4b;
}
.btn-gray{
    background-color: #8392af;
    border-color: #66afaf;
}
.btn-orange:hover,
.btn-orange:focus
{
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-orange.active, 
.btn-orange:active{
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-gray:hover,
.btn-gray:focus
{
    color: #fff;
    border-color: #548796;
    background-color: #5c7096;
}
.btn-gray.active, 
.btn-gray:active{
    color: #fff;
    background-color: #8392af;
    border-color: #66afaf;
}

.md-modal-content .btn-inline{
    width: 40%; 
}
/*按钮禁用*/
.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn {
    filter: alpha(opacity=55);
    opacity: .55;
}
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus
{
    border-color: #eea236;
    background-color: #f86f4b;
}
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus
{
    background-color: #8392af;
    border-color: #66afaf;
}