.loglist-mdata .form-group {
	
}

.loglist-mdata .form-search .select-control {
	width: 100%;
}

.loglist-mdata .border-gray {
	border: 1px solid #ddd;
	height: 400px;
	overflow: auto;
	margin: 5px 15px;
}

.loglist-mdata .table-no-border {
	margin-bottom: 0px;
}

.loglist-mdata .table-no-border>tbody>tr>td {
	border-top: 0px;
	color: gray;
}

.loglist-mdata .table-no-border .title {
	color: #333;
	width: 100px;
}

.loglist-mdata .table .background-gray {
	background: #f7f7f7;
}

.loglist-mdata .mdata-detail-div {
	border-bottom: 1px #e1e1e1 dotted;
}

.loglist-mdata .btn-search {
	text-align: right;
}

.loglist-mdata .row-cus {
	background-color: #ffffff;
	border: 0px;
	border-radius: 0px;
}

.border-gray .row {
	margin-left: 0;
	margin-right: 0;
}

.log-list-top {
	padding-top: 1px;
	padding-bottom: 0;
}