/**
 *
 * @file: 模态窗样式文件
 *
 */
.modal-label-col{
	width: 30%;
}
.modal-form-col{
	width: 70%;
}
.modal-col-5{
    width: 5%;
}
.modal-col-10{
    width: 10%;
}
.modal-col-15{
    width: 15%;
}
.modal-col-20{
    width: 20%;
}
.modal-col-25{
    width: 25%;
}
.modal-col-30{
     width: 30%;
 }
.modal-col-50{
    width: 50%;
}
.modal-col-60{
    width: 60%;
}
.modal-col-65{
    width: 65%;
}
.modal-col-70{
    width: 70%;
}
.modal-col-75{
    width: 75%;
}
.modal-col-80{
    width: 80%;
}
.modal-col-85{
    width: 85%;
}
.modal-col-90{
    width: 90%;
}
.md-modal-content{
    border-radius: 4px;
	background-color: #f5f9fc;
}
.md-modal-content .modal-header{
	color: #81807e;
	border-color: #dbdbdb;
	border-radius: 4px 4px 0 0;
}
.md-modal-content .modal-header h6{
	text-align: center;
	font-size: 18px;
    line-height: 1.5;
	font-weight: 400;
	margin-top: 5px;
    margin-bottom: 5px;
}
.md-modal-content .modal-header .close{
	font-size: 40px;
	font-weight: 300;
    margin-top: -3px;
}

.md-modal-content .form-horizontal .control-label{
	padding-right: 0;
	font-weight: 400;
	text-align: left;
	color: #808080;
}
.md-modal-content .modal-body {
    padding: 20px;
}

.md-modal-content .md-modal-body{
    padding: 20px 20px 20px 40px;
}

.md-modal-content .modal-footer {
    padding: 0 20px 30px 20px;
    text-align: center;
    border-top: 0;
}
.md-modal-content .btn-modal{
    width: 320px;
    padding: 6px 18px;
    float: left;
}
.md-modal-content .alert {
	height: 32px;
    padding: 0 0 15px;
    margin-bottom: 0;
    border: 0;
}
.md-modal-content .alert-danger
{
	background-color: transparent;
}

.sign-must{
	display: inline-block;
	padding-left: 5px;
	vertical-align: middle;
	margin-bottom: -5px;
	color: #eb3f2f;
}

.dm-modal-subtitle{
    font-size: 16px;
    padding-bottom: 16px;
    padding-left: 0px;
}

/* 超小号 */
.modal-xs{
    width: 300px;
}
.modal-msg{
	width: 240px;
}

/* 小号 */
.modal-small{
    width: 360px;
}
.modal-confirm{
    width: 460px;
}

/* 中号 */
.modal-middle{
	width: 550px;
}
/* 大号 */
.modal-large{
	width: 630px;
}
/* 大号 */
.modal-larger{
    width: 750px;
}

/* 超大号 */
.modal-huge{
	width: 920px;
}

/* 定义modal-body高度，超出产生滚动条 */
.modal-small .modal-body{
    max-height: 350px;
    overflow: auto;
}
.modal-middle .modal-body{
    max-height: 350px;
    overflow: auto;
}
.modal-large .modal-body{
    max-height: 550px;
    overflow: auto;
}
.modal-huge .modal-body{
    max-height: 580px;
    overflow: auto;
}

.font-note{
	color:#CCC;
}
