.pagination {
    display: block;
    margin: 0;
    border-radius: 0;
}
.page-info{
	font-size: 15px;
	line-height: 30px;
	color: #bbb;
    font-style: normal;
}
.pageSize{
	display: inline-block;
	width: 60px;
	height: 30px;
	padding: 6px 8px;
	color: #444;
}
.pagination>li>a, 
.pagination>li>span {
    padding: 4px 12px;
    font-size: 14px;
}
.pagination>.dot>a:focus, 
.pagination>.dot>a:hover, 
.pagination>.dot>span:focus, 
.pagination>.dot>span:hover {
    color: #337ab7;
    background-color: #fff;
    border-color: #ddd;
}