/* 自定义模态框滚动条 */
.mCS-my-theme.mCSB_scrollTools{
	top: 0;
	right: -5px;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width: 4px;
	background-color: #1084c1;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{
	width: 2px;
	border: 0;
	background-color: #5bc0de;
	opacity: 0.5;
	filter:"alpha(opacity=50)";
}

/* 自定义模态框滚动条 */
.mCS-my-theme-x.mCSB_scrollTools{
	bottom: 40px;
	right: -5px;
}
.mCS-my-theme-x.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	height: 4px;
	background-color: #1084c1;
}
.mCS-my-theme-x.mCSB_scrollTools .mCSB_draggerRail{
	height: 6px;
	border: 0;
	background-color: transparent;
}
